/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  font-family: "Chakra Petch", sans-serif;
  font-family: "Press Start 2P", cursive;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: 75px 1fr;
  grid-template-columns: minmax(auto, 200px) 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  background-color: #525252;
}

.header {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 1fr;
  align-items: center;
  background-color: #cbd5e1;
  grid-area: sidebar-start / sidebar-start / header-end / header-end;
}

.header .left-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header img {
  grid-row: 1/2;
  width: 6rem;
  padding-left: 2rem;
  opacity: 1;
}

.header h1 {
  font-size: 3rem;
  padding-left: 1rem;
  white-space: nowrap;
}

.header h3 {
  font-size: 1rem;
  padding-left: 1rem;
  font-weight: 5;
}

.header button {
  margin-left: 10px;
  width: 40px;
}

#open-button {
  background: #AFD3E2;
  border: solid #E3F4F4 2px;
  transition: 500ms ease;
  border-radius: 10px;
  padding: 2px;
  
}

#open-button:hover {
  background: #6E7C7C;
  text-decoration: none;
}

#close-button {
  background: #AFD3E2;
  border: solid #E3F4F4 2px;
  transition: 500ms ease;
  border-radius: 10px;
  padding: 0px;
  
}

#close-button:hover {
  background: #6E7C7C;
  text-decoration: none;
}

.sidebar {
  display: grid;
  grid-template-rows: 75px;

  background-color: #f8fafc;
  grid-area: sidebar;
  transform: translateX(-100%);
  transition: 1250ms ease;
  border-radius: 0px 10px 10px 0px;
  border: 1px solid black;
}

.sidebar-up {
  display: flex;
  align-items: center;
  background-color: #525252;
  border-radius: 0px 10px 0px 0px;
}

.sidebar-up button {
  height: 20px;
  width: 40px;
  margin-left: 10px;
}

.sidebar ul {
  display: grid;
  grid-template-rows: repeat(6, 20px);
  grid-gap: 3rem;
  margin-left: 1.2rem;
  padding-top: 4rem;
  font-size: 2rem;
}

.sidebar .icon {
  padding-right: 1rem;
  font-size: 2rem;
}

.sidebar li {
  font-size: 1.5rem;
  padding: 1.2rem;
}



.sidebar a :hover {
  font-size: 1.6rem;
  background-color: rgb(6, 66, 105);
  margin: 0rem;
  border-radius: 5px 0px 0px 5px;
  transition: 450ms ease;
  box-shadow: 13px 14px 25px -7px rgba(0,0,0,0.66);
-webkit-box-shadow: 13px 14px 25px -7px rgba(0,0,0,0.66);
-moz-box-shadow: 13px 14px 25px -7px rgba(0,0,0,0.66);
letter-spacing: .15rem;
color: #f8fafc;
}


.sidebar a {
  text-decoration: none;
  color: black;
}

.sidebar.open {
  transform: translateX(0%);
}

.main {
  display: grid;
  background-color: #c3c5ca;
  grid-area: main-start / sidebar-start / main-end / main-end;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.card {
  display: grid;
  grid-template-rows: 5fr 0.5fr 1fr;
  border-radius: 5px;
  border-radius: 8px;
  background-color: #f8fafc;
  max-width: 40rem;
  max-height: 50rem;
  border: 1px solid grey;
}
/*Not working as expected*/
/*.card :hover{
  transition: 600ms ease;
  box-shadow: 13px 14px 25px -7px rgba(0,0,0,0.66);
-webkit-box-shadow: 13px 14px 25px -7px rgba(0,0,0,0.66);
-moz-box-shadow: 13px 14px 25px -7px rgba(0,0,0,0.66);; 
}*/

.card a {
  display: block;
  height: 100%;
}

.card-title {
  margin: 5px;
  font-weight: 150;
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

.card-description {
  font-size: 1.5rem;
  margin: 5px;
  font-weight: 150;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
  display: grid;
  grid-template-rows: 5fr 0.5fr 1fr;
  border-radius: 5px;
}

.card-image {
  background-size: cover;
  border-radius: 5px 5px 0px 0px;
  min-height: 200px;
}

#card1 .card-image {
  background-image: url("../img/index/sketch-a-roo.png");
}

#card2 .card-image {
  background-image: url("../img/index/Ropapsi.png");
}

#card3 .card-image {
  background-image: url("../img/index/calculator.jpg");
  background-position: 0% 50%;
}

#card4 .card-image {
  background-image: url("../img/index/macho-screenshot.png");
}

#card5 .card-image {
  background-image: url("../img/index/commits.png");
}

#card6 .card-image {
  background-image: url("../img/index/race-o-matic.jpg");
}

